@model InterviewTest.Controllers.NewsletterListViewModel

@{
    ViewBag.Title = "Saved newsletters";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    @using (Html.BeginForm("create", "Newsletter", FormMethod.Post))
    {
        <div class="col-md-8">
            <h2>Create newsletters</h2>

            
            <div class="form-group">
                <label>How many newsletters? <input class="form-control" type="number" name="count" value="10" /></label>
            </div>

                <h3>Actions:</h3>
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit">Create Newsletters</button>
                    <a href="@Url.Action("sample", "newsletter")" class="btn btn-default">View Sample Newsletter</a>
                    <a href="@Url.Action("deleteall", "newsletter")" class="btn btn-danger">Delete All Newsletters</a>
                </div>

            </div>
        <div class="col-md-4">

            <h2>Created newsletters</h2>
            @if (Model.Newsletters.Any())
            {
                <div class="col-md-6">
                    <table class="table">
                        <tr><th>Id</th><th>Created At</th></tr>
                        @foreach (var newsletter in Model.Newsletters.OrderByDescending(n => n.Id))
                        {
                            <tr>
                                <td><a href="@Url.Action("Display", new {newsletter.Id})">@newsletter.Id</a></td>
                                <td>@newsletter.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            </tr>

                        }
                    </table>
                </div>
            }
        </div>
    }
</div>
